/*****************TAG SELECTORS *****************/
body{
  margin: 0;
}

hr {
   border: none;
   height: 0px;
   width: 5%;
   border-style: dotted none none;
   border-color: grey;
   border-width: 7px;
 }

 img{
   width: 40%;
 }

/*****************ID SELECTORS*****************/
/* index.html */
#page-menu {
  background-color: #1d5464;
  color: #fac70b;
  padding: 0.1rem;
}

#slide-show {
  background-color: #127681;
  color: #fffafa;
}

#introduction{
  background-color: #21174a;
  color: #fffafa;
  padding: 3rem 2rem;
}

#services{
  background-color: #ae7c7c;
  color: #fffafa;
  padding: 3rem 1rem 6rem;
  text-align: center;
}

#staff-introduction{
  text-align: center;
  background-color: #3e3838;
  color: #fffafa;
  padding: 3rem 1rem 6rem;
}

#QA{
  text-align: center;
  background-color: #6cbbb3;
  color: #fffafa;
  padding: 3rem 1rem 6rem;
}


#business-hours{
  text-align: center;
  background-color: #35477d;
  color: #fffafa;
  padding: 3rem 1rem 6rem;
}

#contact{
  text-align: center;
  background-color: #c06c84;
  color: #fffafa;
  padding: 2rem;
}

#contact{
  text-align: center;
  background-color: #c06c84;
  color: #fffafa;
  padding: 3rem 1rem 6rem;
}

#footer{
  text-align: center;
  background-color: #f67280;
  color: #fffafa;
  padding: 0.02rem;
}

/* acupuncture.html */
#acupuncture-description {
  text-align: center;
  padding: 7% 11%;
  color: #fffafa;
  background-color: #022c43;
}

#price-table{
  padding: 7% 5%;
  text-align: center;
  background-color: #facf5a;
}

/* moxibustion-cupping.html */
#moxibustion-cupping-description{
  text-align: center;
  padding: 7% 15%;
  color: #fffafa;
  background-color: #022c43;
}

/* oilMassage.html */
#oilMassage{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

#detailTables01, #detailTables02{
  text-align: center;
  background-color: #facf5a;
  padding: 2% 12%;

}

/* anma-fingerPressureTheraphy-massage.html */
#anma-fingerPressureTheraphy-massage-description{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;

}

/* lymphticDrainage.html */
#lymphticDrainage-description{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

/* saunaSteam.html */
#saunaSteam{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

/*****************CLASS SELECTORS*****************/
/* index.html */
.intro-format{
  margin: 0;
  font-size: 1rem;
  line-height: 2.2;
}

.nav-item {
  padding: 0 10px;
}

.carousel-item {
  padding: 0 15%;
}

.carousel {
  width: 70%;
  position: relative;
  margin: auto;
}

.service-text{
  padding-bottom: 3rem;
}

.service-name {
  font-size: 0.7rem;
  line-height: 10px;
}

.serviceBox{
  padding: 0 20%;
}

.card-space{
  position: relative;
  right: 5%;
  width: 120%;
}

.staff-intro-text{
  margin-bottom: 11px;
}

.staff-intro-table{
  margin-top: 3%;
}

.staff-picture{
  border-radius: 100%;
  width: 30%;
}

.staff-name{
  font-size: 1.3rem;
  padding: 2%;
}

.staff-description{
  padding: 0 8%;
  font-size: 100%;
  line-height: 120%;
}

.contact-format{
  padding: 0 28.5%;
  line-height: 240%;
}

.business-info{
  padding: 10rem;
}

.googlemap {
text-align: center;
position: relative;
margin: auto;
padding-bottom: 56.25%;
padding-top:80px;
height: 0;
overflow: hidden;
}

.googlemap iframe,
.googlemap object,
.googlemap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.contact-format{
  padding: 0 10%;
}

.sns{
  padding: 2% 3% 0;
}

.sns-element{
  padding: 0 1%;
  color: white;
}

/* acupuncture.html */
.acupuncture-image{
  width: 100%;
  margin-top: 10px;
}

/* moxibustion-cupping.html */
.moxibustion-image{
  width: 80%;
  margin-top: 10px;
}

.cupping-image{
  width: 80%;
  margin-top: 10px;
}

/* .lymphticDrainage.html */

.remove-bullet{
  list-style: none;
}
