/*****************TAG SELECTORS *****************/
body{
  margin: 0;
}

hr {
   border: none;
   height: 0px;
   width: 5%;
   border-style: dotted none none;
   border-color: grey;
   border-width: 7px;
 }

 img{
   width: 40%;
 }
/*****************ID SELECTORS*****************/
/* index.html */
#page-menu {
  background-color: #1d5464;
  color: #fac70b;
  padding: 0.1rem;
  font-size: 1.0rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#slide-show {
  text-align: center;
  background-color: #127681;
  color: #fffafa;
  padding: 0 2rem;
}

#introduction{
  background-color: #fffafa;
  color: #ffbe00;
  padding: 3rem 2rem 3rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#services{
  background-color: #1c819e;
  color: #fffafa;
  padding: 4rem 1rem 6rem;
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
}

#staff-introduction{
  text-align: center;
  background-color: #fffafa;
  color: #ffbe00;
  padding: 4rem 1rem 6rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#QA{
  text-align: center;
  background-color: #6cbbb3;
  color: #fffafa;
  padding: 3rem 1rem 6rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#business-hours{
  text-align: center;
  background-color: #fffafa;
  color: #ffbe00;
  padding: 3rem 1rem 6rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#contact{
  text-align: center;
  background-color: #35477d;
  color: #fffafa;
  padding: 3rem 1rem 6rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#footer{
  text-align: center;
  background-color: #fffafa;
  color: #ffbe00;
  padding: 1.5rem 0 0.5rem;
  font-family: 'Kosugi Maru', sans-serif;
}

/* acupuncture.html */
#acupuncture-description {
  text-align: center;
  padding: 7% 11%;
  color: #fffafa;
  background-color: #022c43;
}

#price-table{
  padding: 7% 5%;
  text-align: center;
  background-color: #facf5a;
}

/* moxibustion-cupping.html */
#moxibustion-cupping-description{
  text-align: center;
  padding: 7% 15%;
  color: #fffafa;
  background-color: #022c43;
}

/* oilMassage.html */
#oilMassage{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

#detailTables01, #detailTables02{
  text-align: center;
  background-color: #facf5a;
  padding: 2% 12%;

}

/* anma-fingerPressureTheraphy-massage.html */
#anma-fingerPressureTheraphy-massage-description{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;

}

/* lymphticDrainage.html */
#lymphticDrainage-description{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

/* saunaSteam.html */
#saunaSteam{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

/*****************CLASS SELECTORS*****************/
/* index.html */
.intro-format{
  margin: 0;
  font-size: 1.1rem;
  line-height: 3.6;
}

.nav-item {
  padding: 0 10px;
}
.carousel-item {
  padding: 0 15%;
}

.carousel {
  width: 300%;
}


.subtitle-text{
  padding-bottom: 2.5rem;
}

.service-name {
  font-size: 0.8rem;
  line-height: 13px;
  color: #000;
}

.serviceBox{
  padding: 0 9%;
  position: relative;
  left: 30px;
}

.staff-picture{
  border-radius: 50%;
  padding-bottom: 20px;
}

.staff-name{
  font-size: 1.2rem;
}

.staff-intro-text{
  margin-bottom: 11px;
}

.staff-position-Misuzu{
  padding: 0 8%;
  line-height: 40%;
}

.staff-position-Junichi{
  padding: 0 8%;
  line-height: 40%;
}

@media(max-width: 750px) {
  .staff-position-Misuzu{
    padding: 0 8% 15%;
    line-height: 40%;
  }
}

.staff-description{
  padding: 0 15%;
  line-height: 2.0;
  font-size: 0.8rem;
}

.Q-A{
  padding: 1% 12%;
  line-height: 2.2;
}

.business-top{
  padding-top: 2%;
}

.business-info{
  text-align: left;
  padding: 0 2%;
  line-height: 1.4;
}

.small-business-info{
  text-align: left;
  padding: 0 2%;
  line-height: 1.4;
  font-size: 80%;
}

.googlemap {
text-align: center;
position: relative;
margin: auto;
padding-bottom: 56.25%;
padding-top:80px;
height: 0;
overflow: hidden;
}

.googlemap iframe,
.googlemap object,
.googlemap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


.contact-format{
  padding: 0 10%;
  font-size: 1.1rem;
  line-height: 3.6;
}

.mail-icon{
  padding: 10%;
  color: #fffafa;
}

.sns{
  padding: 5% 3% 0;
}

.sns-element{
  padding: 0 1%;
  color: #ffbe00;
}

.copy-right{
  padding: 2% 0;
}

/* acupuncture.html */
.acupuncture-image{
  width: 100%;
  margin-top: 10px;
}

/* moxibustion-cupping.html */
.moxibustion-image{
  width: 80%;
  margin-top: 10px;
}

.cupping-image{
  width: 80%;
  margin-top: 10px;
}

/* .lymphticDrainage.html */

.remove-bullet{
  list-style: none;
}
